<h2 class="center">User Table for <%= user.fullName %>
</h2>
<table class="table">
    <tbody>
        <tr>
            <td><strong>First Name</strong></td>
            <td>
                <%= user.name.first %>
            </td>
        </tr>
        <tr>
            <td><strong>Last Name</strong></td>
            <td>
                <%= user.name.last %>
            </td>
        </tr>
        <tr>
            <td><strong>Email</strong></td>
            <td>
                <%= user.email %>
            </td>
        </tr>
        <tr>
            <td><strong>Zip Code</strong></td>
            <td>
                <%= user.zipCode %>
            </td>
        </tr>
    </tbody>
</table>